@using KillerAppASP.ViewModels;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twitch Killer App</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/semantic.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Plugin/PubNub/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>

    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <meta charset="utf-8">
</head>
<body>
    <div class="ui top attached tabular menu">
            @Html.ActionLink("Login", "Login", "Login", null, new { @class = "inverted purple item", @style = "color:#D65AFF;" })
@Html.ActionLink("About", "About", "Home", null, new { @class = "inverted purple item", @style = "color:#D65AFF;" })
@Html.ActionLink("Channel", "Index", "Channel", null, new { @class = "inverted purple item", @style = "color:#D65AFF;" })
@Html.ActionLink("Me", "Index", "User", null, new { @class = "inverted purple item", @style = "color:#D65AFF;" })
        <div class="ui icon right menu" style="color:#D65AFF;">
            <a class="item" style="color:#D65AFF;">
                <i class="gamepad icon" style="color:#D65AFF;"></i>
                Games
            </a>
            <a class="item" style="color:#D65AFF;">
                <i class="video camera icon" style="color:#D65AFF;"></i>
                Channels
            </a>
            <a class="item" style="color:#D65AFF;">
                <i class="video play icon" style="color:#D65AFF;"></i>
                Videos
            </a>
        </div>

        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    @using (Html.BeginForm("Search", "Search",FormMethod.Post))
                    {
                        @Html.TextBox("SearchQuery")

                        <input type="submit" name="Search" value="Search" />
                    }
                    
                </div>
            </div>
        </div>
    </div>
                                
                                

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Twitch by TG</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    @RenderSection("Script", false)
</body>
</html>
