@using KillerAppASP.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User u = Session["LoggedIn"] as User;
    Channel c = ViewBag.ChannelDetails;
}

@using (@Html.BeginForm("EditChannel", "Channel", FormMethod.Post, new { @class = "ui form" }))
{
@if (ViewBag.ChannelDetails != null)
{


    <div class="field">
        <label>Channel Name</label>
        <input type="text" name="name" placeholder="naam" value="@c.Name">
    </div>
    <div class="field">
        <label>Channel Banner</label>
        <input type="text" name="banner" placeholder="banner" value="@c.Banner">
    </div>
    <div class="field">
        <label>Profile Picture</label>
        <input type="text" name="profilePicture" placeholder="profiel foto" value="@c.ProfilePicture">
    </div>
    <div class="field">
        <label>ID</label>
        <input type="text" disabled="disabled" name="id" placeholder="id" value="@c.ID">
    </div>
    <div class="field">
        <label>Views</label>
        <input type="text" disabled="disabled" name="views" placeholder="Views" value="@c.Views">
    </div>
}
<button class="ui inverted purple button" type="submit">Opslaan</button>
}
