@using KillerAppASP.Models;
@using Santhos.Web.Mvc.BootstrapFlashMessages
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User u = Session["LoggedIn"] as User;
    Channel c = ViewBag.ChannelDetails;
    List<ChatMessage> cms = ViewBag.ChatMessages;
    List<User> allusers = ViewBag.AllUsers;
    List<Channel> allchannels = ViewBag.AllChannels;
}



<div class="ui image">
    <img src="@c.Banner" style="margin-top:20px; width:100%;height:200px;background-position:left;">
</div>
<div class="ui left container">
    <div class="ui small image">
        <img class="inverted purple" src="@c.ProfilePicture" style="height:100px;width:100px;margin-top:-50px;">
    </div>
    <h2 class="ui header" style="padding-top:-40px;margin-right:20px; margin-left:-40px; right:100px;display:inline-block;color:#D65AFF;">@c.Name</h2>
    @* if (session.user != page.user) show Follow button *@
    <button class="ui inverted purple button">Volg</button>
    @Html.ActionLink("Aanpassen", "EditChannel", "Channel", new { @id = u.ID }, new { @class = "ui inverted purple button" })
    @Html.ActionLink("Ga Live", "GoLive", "Channel", new { @id = u.ID }, new { @class = "ui inverted purple button" })
    @*<button class="ui inverted purple button">Edit</button>*@
</div>

<iframe style="margin-top:10px; left:0; width:60vw;height:33.75vw;display:inline-block;" src="https://www.youtube.com/embed/nYi2YzKd0vg" frameborder="0" allowfullscreen></iframe>
<div class="ui comments" style="margin-left:10px;top:0; right:0; width:30vw;display:inline-block;">
    <h3 class="ui dividing header" style="color:#D65AFF;">Chat</h3>

    <div class="comment" style="max-height:400px;overflow-y:scroll;">
@foreach (ChatMessage cm in cms)
{
        <div class="content">
            <a class="author">@allusers.Find(i => i.ID == cm.SentByUserID).Username</a>
            <div class="metadata">
                <span class="date">@cm.TimeStamp.ToShortTimeString()</span>
            </div>
            <div class="text">
                @cm.Message
            </div>
        </div>
        }
    </div>
    @using (Html.BeginForm("SendMessage", "Channel", new { @id = u.ID, @cid = c.ID }, FormMethod.Post, new { @class = "ui reply form" }))
    {
    <div class="field">
        <textarea name="message" style="max-height:100px;"></textarea>
            
    </div>
    <button class="ui inverted purple labeled submit icon button" type="submit">Bericht versturen</button>
    }
</div>
<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="http://placehold.it/250x250">
        </div>
        <div class="content">
            <div class="header">Donate</div>
            <div class="meta">
                <span class="price">Top Donators:</span>
                <span class="stay">Smam: 100 euro</span>
                <span class="stay">Peerke: 50 euro</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="http://placehold.it/250x250">
        </div>
        <div class="content">
            <div class="header">My Rig</div>
            <div class="meta">
                <span class="price">i7 2600K 5.2GHz</span>
                <span class="stay">500GB SSD</span>
                <span class="stay">4k Monitor</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="http://placehold.it/250x250">
        </div>
        <div class="content">
            <div class="header">Sponsor</div>
            <div class="meta">
                <span class="price">Logitech</span>
                <span class="stay">Samsung</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
</div>
@foreach (Suggestion s in ViewBag.Suggestions)
{
    User SugUser = allusers.Find(i => i.Username == s.Username);
<div class="ui card" style="display:inline-block;margin:5px;">
    <div class="image">
        <img src="@allchannels.Find(i => i.ID == SugUser.ID).ProfilePicture;" style="width:290px;height:290px;">
    </div>
    <div class="content">
        <a class="header">@SugUser.DisplayName</a>
        <div class="meta" style="min-height:40px;">
            <span class="date">@s.Title</span>
        </div>
        <div class="description" style="min-height:60px;">
            Is playing @s.GameName, which is a @s.GenreName game. <br />
            Go to the @s.ChannelName channel!
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i>
            @s.Views
        </a>
    </div>
</div>
}